/* Reset */
* {
    margin : 0;
    padding : 0;
    box-sizing :border-box;
}

/* Variables */
:root {
    --primary : rgb(108, 168, 240);
    --dark : #222;
    --light : whitesmoke;
    --gray : dimgray;
}

body {
    font-family: Arial,sans-serif;
    line-height: 1.6;
    background : var(--light);
    color: var(--dark);
}

/* Container Section */
.container {
    width : 90%;
    max-width : 1100px;
    margin: auto;
}

section {
    padding: 64px 0;
    text-align: center;
}

/* Hero Section */
.hero {
    background: var(--primary);
    color: white;
    padding: 96px 0;
    text-align: center;
}

.hero h1 {
   font-size: 40px;
   margin-bottom: 16px;
}

.hero p{
    margin-bottom: 32px;
}

.logo {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 150px;
  height: auto;
  object-fit: contain;
}

.btn{
    background: white;
    color: var(--primary);
    padding: 13px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.features-grid {
  display: grid;
  gap: 32px;
  margin-top: 32px;
  margin-left: 20px;
  margin-right: 20px;
}

.feature-card {
  background: var(--primary);
  padding: 60px 32px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: white;
}

.pricing .feature-card {
  text-align: center;
  font-weight: bold;
  min-height: 500px;
  max-width: 350px;
}

@media (min-width: 768px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .features-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.carousel {
  position: relative;
  overflow: hidden;
  max-width: 600px;
  margin: auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  width: 100%;
  padding: 32px;
  background: white;
  border-radius: 8px;
  flex-shrink: 0;
}

input[type="radio"] {
  display: none;
}

/* Slide movement */
#slide1:checked ~ .slides {
  transform: translateX(0%);
}
#slide2:checked ~ .slides {
  transform: translateX(-100%);
}
#slide3:checked ~ .slides {
  transform: translateX(-200%);
}

/* Controls */
.controls {
  margin-top: 16px;
}

.controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: var(--gray);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.pricing-grid {

  display: grid;
  text-align: center;
  gap: 32px;
  margin-top: 32px;
  margin-left: 150px;
  margin-right: 150px;
}


@media (min-width: 768px) {
  .pricing-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .logo{
    max-width: 50px;
  }
}


footer {
  background: var(--dark);
  color: white;
  text-align: center;
  padding: 2rem 0;
}